* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* converts 1rem into 10px which is easy for fast calcs 8 */
}
body {
  /* color: $dark-grey; */

  font-family: Bookman, Helvetica, Arial, sans-serif;
  font-size: var(--m-size);
  line-height: 1.6;

  --font-size-large: 1.8rem;
  --font-size-small: 1.4rem;

  --xs-size: 0.8rem;
  --s-size: 1.2rem;
  --m-size: 1.6rem;
  --l-size: 3.2rem;
  --xl-size: 4.8rem;

  --light-grey: rgb(230, 211, 211);
  --light-green: rgb(212, 246, 67);
  --green: rgb(145, 231, 63);
  --blue: rgb(74, 106, 181);
  --blue-lightened: rgb(99, 132, 207);
  --twitter-blue: rgb(29, 161, 242);
  --twitter-blue-hover: rgb(55, 187, 255);
  --yellow: rgb(255, 235, 87);
  --red: rgb(227, 62, 118);
  --purple: rgb(179, 49, 168);
}

h1 {
}
h2 {
  margin: 10px 0;
}
h3 {
}
h4 {
}
h5 {
}
h5 {
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

/* modal styling */

.ReactModalPortal > div {
  opacity: 0;
}
.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 200ms ease-in-out;
}
.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}
