/* @font-face {
  font-family: 'sherwood';
  src: url('../res/fonts/SHERWOOD.ttf');
} */

@font-face {
  font-family: 'Dalelands';
  src: url('../res/fonts/DalelandsUncial.otf');
}

@font-face {
  font-family: 'UncialAntiqua';
  src: url('../res/fonts/UncialAntiqua-Regular.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* converts 1rem into 10px which is easy for fast calcs 8 */
}
body {
  font-family: Bookman, Helvetica, Arial, sans-serif;
  font-size: var(--m-size);
  line-height: 1.6;

  --font-size-large: 1.8rem;
  --font-size-small: 1.4rem;

  --xs-size: 0.8rem;
  --s-size: 1.2rem;
  --m-size: 1.6rem;
  --ml-size: 2.2rem;
  --l-size: 3.2rem;
  --xl-size: 4.8rem;

  --grey: rgb(170, 151, 151);
  --medium-grey: rgb(170, 151, 151);
  --light-grey: rgb(230, 211, 211);
  --light-green: rgb(212, 246, 67);
  /* --green: rgb(0, 158, 96); */
  --green: rgb(104, 135, 27);
  --green-dark: rgb(75, 105, 0);
  --irish-orange: rgb(200, 125, 0);
  --blue: rgb(74, 106, 181);
  --blue-lightened: rgb(99, 132, 207);
  --twitter-blue: rgb(29, 161, 242);
  --twitter-blue-hover: rgb(55, 187, 255);
  --yellow: rgb(255, 235, 87);
  --red-light: rgb(200, 70, 70);
  --red: rgb(180, 50, 50);
  --red-dark: rgb(160, 30, 30);
  --purple: rgb(179, 49, 168);
}

h1 {
}
h2 {
  margin: 10px 0;
}
h3 {
}
h4 {
}
h5 {
}
h5 {
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

/* active heat buttons */

.active_hot {
  color: white;
  background-color: var(--red);
}

.active_cold {
  color: white;
  background-color: var(--green);
}

/* modal styling */

.ReactModalPortal > div {
  z-index: 2;
  opacity: 0;
}
.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 200ms ease-in-out;
}
.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}
/* 
#test1 {
  fill: grey;
  stroke: black;
  height: 200px;
  padding: 1rem;
}

#test1:hover {
  fill: black;
  stroke: black;
  transition: all 0.3s;
  cursor: pointer;
} */
